<footer>
    <p>
        Created with love by the PACT team!
    </p>
</footer>

<script src="/js/script.js"></script>
<!-- ** use this if touch screen doesn't work -->
<script src="/js/modernizr-custom.js"></script>
</body>
</html>