<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/9b82d76088.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/overview.css">
    <link rel="stylesheet" href="/css/logistics.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/instructors.css">
</head>
<body>

    <nav>
        <a href="/" class="logo">PACT</a>
        <ul class="navbar">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/instructors">Instructors</a>
            </li>
            <li class="nav-item dropdown-toggle">
                <!-- <div> -->
                    <a href="/program">Program <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/program/overview">Overview</a></li>
                        <li class="dropdown-item"><a href="/program/logistics">Logistics</a></li>
                        <li class="dropdown-item"><a href="/program/faq">FAQ</a></li>
                    </ul>
                <!-- </div> -->
            </li>
            <li class="nav-item">
                <a href="/application">Application</a>
            </li>
            <li class="nav-item">
                <a href="/students">Students</a>
            </li>
        </ul>
    </nav>

    <div class="spacer"></div>