<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PACT</title>
    <script src="https://kit.fontawesome.com/9b82d76088.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Poppins&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <meta name="description" content="Program in Algorithmic and Combinatorial Thinking" />
    <meta name="keywords" content="pact, program in algorithmic and combinatorial thinking, computer science princeton, highschool, cs, summer program">
    <meta property="og:title" content="PACT">
    <meta property="og:description" content="Program in Algorithmic and Combinatorial Thinking">
    <meta property="og:image" content="https://mighty-beyond-04832.herokuapp.com/img/home/expresssions.jpg">
    <meta property="og:url" content="https://mighty-beyond-04832.herokuapp.com">
    <meta property="og:image:alt" content="Picture of PACT">
    <meta name="twitter:image" content="https://mighty-beyond-04832.herokuapp.com/img/home/expresssions.jpg">
    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/overview.css">
    <link rel="stylesheet" href="/css/logistics.css">
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/instructors.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/students.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <nav>
        <a href="/" class="logo">PACT</a>

        <div class="nav-item ham">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="navbar">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/instructors">Instructors</a>
            </li>
            <li class="nav-item dropdown-toggle">
                <!-- <div> -->
                    <a href="/program" class="toggle-nav">Program <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/program/overview">Overview</a></li>
                        <li class="dropdown-item"><a href="/program/logistics">Logistics</a></li>
                        <li class="dropdown-item"><a href="/program/faq">FAQ</a></li>
                    </ul>
                <!-- </div> -->
            </li>
            <li class="nav-item">
                <a href="/application">Application</a>
            </li>
            <li class="nav-item">
                <a href="/students">Students</a>
            </li>
        </ul>
    </nav>

    <div class="spacer"></div>