<%- include("partials/header") %>

<header class="gradient four">
    <h1>404</h1>
    <p>Page Not Found</p>
    <div class="more">
        <p><%= attempted %> is not a valid route.</p>
        <a href="/">Go Back Home</a>
    </div>
</header>

<%- include("partials/footer") %> 