<%- include("partials/header") %> 

<header class="gradient">
    <h1>Application</h1>
</header>

<div class="container">
    <section class="intro3">
        <div class="first">
            <p class="notapp">
                <!-- The Program in Algorithmic and Combinatorial Thinking is not accepting applications for Summer 2023. The application link for Summer 2024 will be released Winter 2023. -->
                <!-- The Program in Algorithmic and Combinatorial Thinking is no longer accepting applications for Summer 2025. -->
                The Program in Algorithmic and Combinatorial Thinking is now accepting applications for Summer 2026. The application form can be found at: 
            </p>

            <p class="app">
                <a href="https://applypact.com/apply/9 ">
                    https://applypact.com/apply/9 
                </a>
            </p> 
        </div>

        <div class="second">
            <div class="intro-contain">
                <h3>
                    Fees
                </h3>
                <div>
                    <p>There is an application fee of $90 that must be paid before we process your application. After you fill out the application, you will receive an email with instructions on how to make the application fee payment</p>
                    <ul>
                        <li>Virtual fees: The fee for each admitted student is $2,050 ($2,150 for international students). </li> 
                        <!-- ^^ also on FAQ page!!! -->
                        <li>In-person commuter: The fee for each admitted student is $4,215.</li>
                        <li>In-person residential: The fee for each admitted student is $4,215 for tuition and $6,480 for housing, meals, etc.</li>
                    </ul>
                    <p>We have some financial support available and will try our best to see that admitted students shall not be turned away due to financial constraints (justification required), so we strongly encourage anyone interested in the program to apply.
                    <!-- fees also mentioned in FAQ --></p>
                </div>
            </div>

        </div>

        <div class="third">
            <div class="intro-contain">

                <h3>
                    Deadline
                </h3>
                <div>
                    <p>
                        <!-- We will be doing rolling admissions, i.e., we will review applications every few weeks.  -->
                      
                        <!-- <span class="strikethrough"> -->
                            All applications received before 
                        
                        <!-- <span class="strikethrough">March 16, 2025</span> -->
                        
                        March 9, 2026
                        will receive full consideration.

                        <br></br> The in-person program has a limited capacity. If all seats become filled, any remaining applications received before the deadline will be considered for the virtual program but kept on a waitlist for the in-person program, should some seats become available.
                        <!-- </span> -->
                        
                        <!-- <strong>We are still accepting applications and will continue to accept until all seats are taken.</strong> -->

                        <!-- <br>
                        <strong style="font-size: 1.3rem;">
                       We are still accepting applications for Summer 2023, so please apply soon. </strong> -->
                        <!-- <br> -->
                       <!-- <strong>We are not accepting any more applications for Summer 2023.</strong> -->
                    </p>
                </div>
    
            </div>
        </div>
    </section>

    <section class="reqs">
        <h2>
            Application Requirements
        </h2>
        <div>
            <div class="req">
                <h3>
                    1.&nbsp;Statement of Interest
                </h3>
                <p>
                    A brief description about yourself and why you are interested in participating in the program (PDF document to be uploaded by the applicant).
                </p>
                <i class="fas fa-edit"></i>
            </div>
    
            <div class="req">
                <h3>
                    2.&nbsp;Transcript
                </h3>
                <p>
                    A copy of your transcript; unofficial will do (PDF file to be uploaded by the applicant).
                </p>
                <i class="fas fa-newspaper"></i>
            </div>
    
            <div class="req">
                <h3>
                    3.&nbsp;Recommendations
                </h3>
                <p>
                    We require two letters of recommendation, at least one of them should be from your Math teacher. The other one could be from a Math or a Science teacher or from your guidance counselor. The letters must be uploaded by the respective teachers. The applicant will enter the contact information of the teachers and they will be contacted directly.
                </p>
                <i class="fas fa-user-edit"></i>
            </div>
    
            <div class="req">
                <h3>
                    4.&nbsp;Application Fee
                </h3>
                <p>
                    There is an application fee of $90.
                </p>
                <i class="far fa-newspaper"></i>
                <!-- <i class="fa-solid fa-dollar-sign"></i> -->
            </div>
        </div>
        
        <p>
            <strong>Questions: Please send email to <a href="mailto:summertcs@gmail.com">summertcs@gmail.com</a>.</strong>
        </p>

    </section>
</div>

<%- include("partials/footer") %> 
