<%- include("partials/header") %> 

<header class="gradient">
    <h1>Logistics</h1>
</header>

<div class="container">
    <section class="logs">
        <div>
            <h2><i class="fas fa-calendar-week"></i></h2>
            <h2>Dates</h2>

            <p>The program is expected to run from June 26 until July 28 during the summer of 2023.</p>
        </div>
        <div>
            <h2><i class="fas fa-search-location"></i></h2>
            <h2>Location</h2>
            
            <p>PACT is sure to have a virtual component in 2023, as it did last year. Platforms used are Zoom, Gradescope, and Discord.</p>
            <p>We are hoping to have an in-person component as well for those who wish to attend in person. When in-person, the program usually runs on the Princeton University campus.</p>
        </div>
        <div>
            <h2><i class="fas fa-clock"></i></h2>
            <h2>Time</h2>
            
            <p>The program will start at 9:30AM EDT.</p>
            <!-- <p>Group I students meet in the afternoon, and Group II students meet in the morning. Recitations are in the evening. When in-person, meetings take place each weekday from 9:30am-4:30pm, except on nationally observed holidays.</p> -->
        </div>
    </section>

</div>

<%- include("partials/footer") %> 