.intro3 {
    color: var(--grey);
    /* display: flex; */
}

.intro3 div {
    padding: 40px;
    /* width: 50%; */
}

.intro3 .first {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    width: 70%;
    margin: 0 auto;
}

.intro3 .app {
    width: 100px;
    white-space: nowrap;
    font-size: 2rem;
    position: relative;
    /* bottom: -100px; */
    left: 20%;
    padding: 10px;
    /* border-radius: 20px;
    background-image: linear-gradient(to right, rgba(15, 16, 83, 0.3), rgba(15, 16, 83, 0)); */
}

.intro3 .app a, .req a {
    color: var(--lightish-grey);
    text-decoration: none;
    transition: all 0.4s;
}

.intro3 .app a:hover, .req a:hover {
    color: var(--black);
    text-decoration: underline;
}

.intro3 .notapp {
    /* max-width: 60%; */
    width: 65%;
    /* padding: 0 50px 0 0; */
    font-size: 1.5rem;

    margin: 0 auto;
}

.intro3 .second, .intro3 .third {
    background-image: linear-gradient(var(--trans-blue),var(--trans-blue));
    color: var(--off-white);

    padding: 50px 0;
    margin-bottom: 50px;
}

.intro3 .second div, .intro3 .third div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro3 .third div {
    flex-direction: row-reverse;
}

.intro3 .second h3, .intro3 .third h3 {
    font-size: 2.5rem;

    position: relative;
    top: -20px;

    width: 30%;
}

.intro3 .third h3 {
    text-align: right;
}

.intro3 .second p, .third p {
    width: 65%;

    font-size: 1.2rem;
}

.reqs {
    width: 90%;

    padding: 50px;
    margin: 0 auto;

    color: var(--grey);
}

.reqs h2 {
    margin: 1.5rem;
    font-size: 1.7rem;
}

.reqs > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.req {
    flex-grow: 1;
    width: 15%;
    min-width: 175px;
    max-width: 400px;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid var(--grey);
    display: flex;

    flex-direction: column;
    /* align-items: flex-end; */

    text-align: center;
}

.req i {
    font-size: 5rem;
    margin-top: auto;
}

.reqs > p {
    padding: 50px 0;
    text-align: center;
}

/* -----------------MEDIA QUERIES----------------- */

@media only screen and (max-width: 1000px) {
    .intro3 {
        padding: 0;
    }

    .intro3 div {
        padding: 0;
    }

    .intro3 .notapp {
        width: 100%;
    }

    .intro3 .app {
        position: static;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .intro3 .first {
        margin: 50px auto;
        width: 80%;
    }

    .intro3 .second div, .intro3 .third div {
        width: 80%;
        /* font-size: 1.2rem; */
    }

    .reqs {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    .intro3 .second div, .intro3 .third div {
        flex-direction: column;
        width: 70%;
    }

    .intro3 .second h3, .intro3 .third h3 {
        position: static;
        width: 100%;
    }

    .intro3 .second p, .intro3 .third p {
        width: 100%;
    }

    .intro3 .third p {
        text-align: right;
    }
}

@media only screen and (max-width: 600px) {
    .intro3 .first .notapp {
        font-size: 1.2rem;
    }

    .intro3 .first .app {
        font-size: 1.4rem;
    }
    
    .intro3 .second h3, .intro3 .third h3 {
        font-size: 2rem;
    }

    .intro3 .second p, .intro3 .third p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .intro3 .first {
        width: 90%;
    }

    .intro3 .second div, .intro3 .third div {
        width: 90%;
    }

    .reqs .req {
        padding: 25px;
    }
}

@media only screen and (max-width: 340px) {
    .intro3 .first .app {
        font-size: 1.2rem;
    }
}