.faq {
    color: var(--grey);
    padding: 50px;
    width: 800px;
    margin: 0 auto;
    list-style-type: none;
}

.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 15px;
    border: 1px solid #444444; */
    transition: all 0.4s;
    cursor: pointer;
    background-image: none;
}

.faq a {
    text-decoration: none;
    color:var(--light-grey);
    transition: 0.4s;
}

.faq a:hover {
    color: var(--black);
    text-decoration: underline;
}

.faq h3 {
    display: inline;
    padding: 0 20px;
}

.faq i {
    margin: 0 20px;
    /* margin-left: auto; */
}

.faq p {
    padding: 0 20px;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq .active, .faq .toggle:hover {
    background-color: var(--trans-blue);
    /* background-image: linear-gradient(to left, rgba(117, 19, 93, 0.73), #444444); */
    color: var(--off-white);
}

.toggle strong {
    transition: all 0.4s;
}

.toggle:hover strong, .active strong {
    color: var(--super-white);
}


/* -----------------------MEDIA QUERIES--------------------- */

@media only screen and (max-width: 1000px) {
    .faq {
        width: 80%;
    }

    .faq a {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 550px) {
    .faq {
        width: 90%;
        padding: 20px 0;
    }
    
    .faq h3 {
        font-size: 1rem;
    }
}