.container {
    background-color: #fcfcfc;
    padding: 20px 0 0 0;
    /* text-align: center; */
}

header {
    padding: 25px 50px 50px 200px;
    font-size: 3rem;
    /* background-image: linear-gradient(black 50%, orange); */
}
/* 
.grad {
    background-image: linear-gradient(black, orange);
    height: 100px;
} */

/* hr {
    margin: 0;
    border-width: 4px;
    border-color: black;
    border-style: dotted 2px;
    max-width: 50%;
    border: 0;
    height: 0; 
    border-bottom: 0;
} */



@media only screen and (max-width: 600px) {
    img {
        float: none;
    }
}

/* COOL GRADIENT TRANSITION */

/* .gradient {
    position: relative;
    background-image: linear-gradient(
      to right,
      hsl(211, 100%, 50%),
      hsl(179, 100%, 30%)
    );
    z-index: 1;
  }
  
  .gradient::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      hsl(344, 100%, 50%),
      hsl(31, 100%, 40%)
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  
  .gradient:hover::before {
    opacity: 1;
  } */