/* --------------------INTRO------------------- */

.home {
    width: 70%;
    height: 60vh;
    background-size: cover;
    font-size: 2.5rem;
    display: flex;
    align-items: center;

    --top-bottom: linear-gradient(to bottom, var(--trans-black), var(--trans) 20%, var(--trans) 80%, var(--trans-black));

    --left: linear-gradient(to right, var(--trans), var(--trans-blue) 60%, var(--black)), var(--top-bottom);
    --right: linear-gradient(to left, var(--trans), var(--trans-blue) 60%, var(--black)), var(--top-bottom);
    margin: 50px 0;
    padding: 50px;
}

.home p {
    width: 70%;
}

.left {
    text-align: right;
    justify-content: flex-end;
}

.right {
    margin-left: auto;
}

.work {
    background-image: var(--left), url("/img/home/work.jpg");

}

.chalkboard {
    background-image: var(--right), url("/img/home/chalkboard.jpg");
}

.expressions {
    background-image: var(--left), url("/img/home/expressions.jpg");

}

.lemma {
    background-image: var(--right), url("/img/home/lemma.jpg");
}

.fun {
    background-image: var(--left), url("/img/home/fun.jpg");

}

.college {
    background-image: var(--right), url("/img/home/college.jpg");

}

.summer {
    background-image: var(--left), url("/img/home/summer.jpg");

}

/* -------------------QUOTE------------------- */

.quote {
    background-color: var(--off-white);
    color: var(--grey);
    padding: 50px 100px;
    font-size: 2.5rem;
}

.quote h3 {
    margin: 10px;
}

.quote .pushed {
    text-align: right;
}

/* -------------------------END------------------------ */

.modern {
    position: relative;

    margin: 100px 100px 100px 50px;
}

.modern img {
    height: 75vh;
    min-height: 350px;
    width: 75%;
    object-fit: cover;
    transform: scaleX(-1);
}

.modern div {
    width: 50%;
    background-image: linear-gradient(var(--trans-blue), var(--trans-blue));
    line-height: 1.7rem;
    padding: 25px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    font-size: 1rem;
}

.modern .big {
    font-size: 2rem;
}

.requirements {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
}

/* -------------------MEDIA QUERIES---------------------- */


@media only screen and (max-width: 800px) {
    .home p {
        font-size: 1.5rem;
    }

    .quote {
        font-size: 2rem;
        padding-left: 0;
        padding-right: 0;
        /* text-align: center; */
    }

    .modern {
        margin: 0;
        /* padding: 50px; */
        margin-top: 150px;
    }

    .modern img {
        width: 100%;
    }

    .modern div {
        width: 90%;
        bottom: 0;
        left: 0;
        padding: 0 5%;
    }

    .modern .big {
        font-size: 1rem;
    }

    .requirements {
        font-size: 1.2rem;
    }
}