.instructors {
    color: var(--grey);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* max-width: 600px; */
    display: flex;
    /* align-items: center; */
    /* flex-wrap: wrap; */

    /* background-image: linear-gradient(to right, rgba(117, 19, 93, 0.73), black), url("/img/instructors/dr_gandhi.jpg");
    background-repeat: no-repeat;
    background-size: cover, cover; */
}

.instructors .text {
    /* flex-grow: 1; */
    /* width: 70%; */
    font-size: 0.9rem;
    flex-grow: 2;
}

.instructors .img {
    /* width: 30%; */
    align-self: center;
    padding-top: 20px;
    flex-grow: 1;
    z-index: 1;
}

.instructors img {
    /* float: left; */
    margin: 0 50px 50px 0;
    width: 300px;
    /* height: 250px; */
    border-radius: 15px;
}

.iframe {
    position: relative;
    /* top: 0; */
}

.instructors iframe {
    width: 400px;
    height: 250px;
    position: absolute;
    bottom: -260px;
    left: 100px;
    box-shadow: 0px 0px 5px 0var(--grey);
    z-index: 1;

}

@media only screen and (max-width: 1000px) {
    .instructors {
        /* display: block;
        position: relative; */

        /* z-index: 1; 

        width: 95%; */
        margin-bottom: 150px;
    }

    .instructors .text {
        /* position: absolute; */
        position: relative;
        padding-top: 10px;
    }

    .instructors .text1 {
        position: absolute;
        color: var(--white);

        width: 190%;
        padding: 0 15px;
        background-image: linear-gradient(var(--trans-blue), var(--trans-blue));
        top: 80%;
        left: -90%;
        z-index: 1;
        border-radius: 20px;
    }
    
    .instructors iframe {
        left: 190px;
        bottom: -245px;
    }
}

/* SEPARATOR */

.sep {
    background-color: var(--super-white);
    padding-bottom: 290px;
}

.dark {
    background-color: var(--actual-blue);
    padding: 0;
}

.separator {
    position: relative;
    top: -440px;
    z-index: 0;
}

.separator__svg {
    
    /* overflow: hidden; */
    transform: scale(-1, 1.2);
    
}


/* GUEST LECTURERS */

.guest {
    /* height: 100vh; */
    /* background-color: rgba(15, 16, 83, 1); */
    background-image: linear-gradient(var(--actual-blue), var(--black)); 
    color: var(--light-grey);
    margin-top: -300px;
}
/* 
.guest {
    z-index: 3;
} */

.guest h3 {
    position: relative;
    top: -150px;
    font-size: 3rem;
    margin: 0 100px;
}

.guest .intro2 {
    color: var(--off-white);
    width: 80%;
    margin: 0 100px;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1000px) {

    .guest h3 {
        margin: 0 70px;
    }

    .guest .intro2 {
        font-size: 1.2rem;
        margin: 0 70px;
    }

}


@media screen and (max-width: 800px) {
    /* .sep {
        position: relative;
    } */

    .instructors {
        display: block;
        text-align: center;
    }

    .instructors img {
        height: 60vh;
        width: 50vh;
        min-width: 200px;
        max-width: 100%;
        min-height: 250px;
        object-fit: cover;
        padding: 0;
        margin: 0;
    }

    .instructors .text {
        text-align: left;
    }

    .instructors .text1 {
        position: static;
        background: none;
        width: 100%;
        padding: 0;
        color: var(--grey);
    }

    .instructors iframe {
        /* position: static; */
        left: 0;
        width: 100%;
        height: 50vh;
        min-height: 300px;
        top: 15px;
    }

    .sep {
        padding-bottom: 200px;
    }

    .separator {
        /* position: absolute; */
        top: -300px;
        z-index: 0;
        /* height: 100px; */

        overflow: hidden;
        /* height: 150px; */

        /* top: 70px; */
    }
    .separator__svg {
        /* left: -20%; */
        transform: scaleY(0.5);
        /* 15deg */
        /* width: 140%; */
        
    }

    .guest {
        z-index: 2;
    }

    .guest h3 {
        position: static;
        /* padding-top: 125px; */
    }
}


.intro2 a {
    text-decoration: none;
    color: var(--light-grey);
    padding-right: 20px;
}

.intro2 a:hover {
    color: var(--super-white);
}

/* 
.guest img {
    height: 500px;
    object-fit: cover;
} */

.guest h4 {
    font-size: 2rem;
    padding: 0 40px 0 100px;
    padding-top: 150px;
}

.bg .text a {
    text-decoration: none;
    color: var(--white);
    display: block;
}

.bg .text a:hover {
    text-decoration: underline;
    color: var(--super-white);
}

.guest .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    text-align: center;
}

.bg {
    background-size: cover;
    background-position: center;
    height: 300px;
    font-size: 1rem;
    margin: 20px;
    border-radius: 15px;
}

.bg .text {
    width: 250px;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    /* display: none; */
    background-image: none;
    /* padding-bottom: 20px; */
    padding: 0 20px;

    background-image: linear-gradient(to bottom, rgba(44, 15, 83, 0.9),var(--blue));
    opacity: 0;
    transition: all 0.4s;

    border-radius: 15px;
}

.bg .text div {
    opacity: 0;
    /* margin: 20px; */
    transition: all 0.4;
}

.bg .text:hover {
    opacity: 1;
}

.bg .text:hover div {
    opacity: 1;
}