html, body {
    --black: #111111;
    /* #111111 */
    --blue: rgba(15, 16, 83, 0.9);
    --trans-black: rgba(17, 17, 17, 0.4);
    --trans-blue: rgba(15, 16, 83, 0.7);
    --actual-blue: rgba(15, 16, 83);
    --trans:  rgba(15, 16, 83, 0);
    --off-white: #dddddd;
    --white: #eeeeee;
    --grey: #444444;
    --light-grey: #bbbbbb;
    --lightish-grey: #999999;
    --super-white: #fcfcfc;
    --para: 'Open Sans', sans-serif;
    --h: 'Merriweather', serif;
    --h1: 'Poppins', sans-serif;

    /* rgba(15, 16, 83, 0.9) */

    margin: auto 0;
    color: var(--off-white);
    font-family: sans-serif;
    background-color: var(--black);
}

h1 {
    font-family: var(--h1);
}

h2, h3, h4, h5, h6 {
    font-family: var(--h);
}

p, a, ul, li {
    font-family: var(--para);
}

/* ---------------NAV--------------- */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    flex-wrap: wrap;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.nav-item {
    padding: 0 10px;
    /* margin: 15px; */
}

.nav-item > a {
    text-decoration: none;
    color: var(--light-grey);
    padding: 10px;
    border-radius: 10px;

    transition: color 0.4s;
}

.nav-item > a:hover {
    color: var(--white);
}

.logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 1.4rem; 
    color:var(--off-white);
    padding: 10px 20px;
}

/* ----------------DROPDOWN----------------- */

.dropdown-menu {
    list-style-type: none;
    display: none;
    margin: 5px;
    margin-left: 0;
    padding: 10px 10px 10px 0;
    background-color: var(--white);
    border-radius: 5px;

    position: absolute;
    z-index: 1;
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px;
    padding-left: 0;
    border-radius: 10px;
}

.dropdown-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: var(--off-white);
}

.spacer {
    height: 40px;
}

/* ----------------HAMBURGER----------------- */

.ham {
    margin-left: auto;
    display: none;
    padding-right: 20px;
    font-size: 1.5rem;
    color: var(--grey);
    transition: all 0.4s;
    cursor: pointer;
}

.ham p {
    margin: 0;
}

/* ------------------FOOTER------------------- */

footer {
    padding: 40px;
    text-align: center;
    /* background-color: black; */
}

/* ---------------MEDIA QUERIES----------------- */

@media only screen and (max-width: 900px) {
    .nav-item a {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 770px) {
    .navbar {
        display: block;
        width: 100%;
        padding: 0 10px;
        margin: 0;

        text-align: right;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .navbar .nav-item {
        padding-bottom: 15px;
        padding-top: 0;
    }

    .dropdown-menu {
        position: static;
        display: block;
        background: none;
        margin: 0;
        padding: 10px;
        padding-right: 27px;
        direction: rtl;
        list-style-type: circle;
        /* font-size: 0.7rem; */
    }

    .dropdown-item {
        padding: 0;
    }

    .dropdown-item a {
        color: var(--light-grey);
    }
    .dropdown-item a:hover {
        color: var(--white);
    }

    .dropdown-item:hover {
        background: none;
    }

    .ham {
        display: block;
    }

    nav .active, nav .ham:hover {
        /* background-color: var(--trans-blue); */
        /* background-image: linear-gradient(to left, rgba(117, 19, 93, 0.73), #444444); */
        color: var(--off-white);
    }

    footer {
        font-size: 0.9rem;
    }
}