html, body {
    --black: rgb(17, 17, 17);
    --blue: rgba(15, 16, 83, 0.9);
    --trans-black: rgba(17, 17, 17, 0.4);
    --trans-blue: rgba(15, 16, 83, 0.7);
    --trans:  rgba(15, 16, 83, 0);
    --off-white: #dddddd;
    --white: #eeeeee;
    --grey: #444444;
    --light-grey: #bbbbbb;
    --super-white: #fcfcfc;

    margin: auto 0;
    color: var(--off-white);
    font-family: sans-serif;
    background-color: var(--black);
}

/* ---------------NAV--------------- */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.nav-item {
    padding: 0 10px;
    /* margin: 15px; */
}

.nav-item a {
    text-decoration: none;
    color: var(--off-white);
    padding: 10px;
    border-radius: 10px;
}

.nav-item > a:hover {
    color: var(--white);
}

.logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--off-white);
    padding: 10px 20px;
}

/* ----------------DROPDOWN----------------- */

.dropdown-menu {
    list-style-type: none;
    display: none;
    margin: 5px;
    margin-left: 0;
    padding: 10px 10px 10px 0;
    background-color: var(--white);
    border-radius: 5px;
    
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
    position: absolute;
    z-index: 1;
}

.dropdown-toggle:hover > a {
    color: var(--white);
}

.dropdown-item {
    padding: 10px;
    padding-left: 0;
    border-radius: 10px;
}

.dropdown-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: var(--off-white);
}

.spacer {
    height: 40px;
}

/* ----------------HAMBURGER----------------- */

.ham {
    margin-left: auto;
    display: none;
    padding-right: 20px;
    font-size: 1.5rem;
}

@media only screen and (max-width: 750px) {
    .navbar {
        display: none;
    }

    .ham {
        display: block;
    }
}

/* ------------------FOOTER------------------- */

footer {
    padding: 40px;
    text-align: center;
    /* background-color: black; */
}