html, body {
    margin: auto 0;
    color: #dddddd;
    font-family: sans-serif;
}
/* ---------------NAV--------------- */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.nav-item {
    padding: 0 10px;
    /* margin: 15px; */
}

.nav-item a {
    text-decoration: none;
    color: #dddddd;
    padding: 10px;
    border-radius: 10px;
}

.nav-item > a:hover {
    color: #eeeeee;
}

.logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 1.4rem;
    color: #dddddd;
    padding: 0 20px;
}

/* ----------------DROPDOWN----------------- */

.dropdown-menu {
    list-style-type: none;
    display: none;
    margin: 5px;
    margin-left: 0;
    padding: 10px 10px 10px 0;
    background-color: #eeeeee;
    border-radius: 5px;
    
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
    position: absolute;
    z-index: 1;
}

.dropdown-toggle:hover > a {
    color: #eeeeee;
}

.dropdown-item {
    padding: 10px;
    padding-left: 0;
    border-radius: 10px;
}

.dropdown-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: #dddddd;
}

.testing {
    height: 150vh;
    /* background-color: #222222; */
}